<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.godsdo.mapper.stati.ComLiveStatiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.godsdo.entity.stati.ComLiveStati">
        <id column="id" property="id" />
        <result column="com_id" property="comId" />
        <result column="live_count" property="liveCount" />
        <result column="date" property="date" />
        <result column="create_at" property="createAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, com_id, live_count, date, create_at
    </sql>

</mapper>
