<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.godsdo.mapper.live.ComMarqueeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.godsdo.entity.com.ComMarquee">
        <id column="id" property="id" />
        <result column="com_id" property="comId" />
        <result column="login_image" property="loginImage" />
        <result column="statement" property="statement" />
        <result column="marquee_enable" property="marqueeEnable" />
        <result column="content_type" property="contentType" />
        <result column="custom_content" property="customContent" />
        <result column="mode" property="mode" />
        <result column="font_size" property="fontSize" />
        <result column="font_color" property="fontColor" />
        <result column="roll_speed" property="rollSpeed" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, com_id,statement,login_image,, marquee_enable, content_type, custom_content, mode, font_size, font_color, roll_speed, update_at, update_by, create_at, create_by
    </sql>

</mapper>
