<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.godsdo.mapper.live.LiveBotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.godsdo.entity.live.LiveBot">
        <id column="id" property="id" />
        <result column="com_id" property="comId" />
        <result column="live_id" property="liveId" />
        <result column="bot_id" property="botId" />
        <result column="msg" property="msg" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="delete_flag" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, com_id, live_id, bot_id, msg, update_at, update_by, create_at, create_by, delete_flag
    </sql>

</mapper>
