<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.godsdo.mapper.RolePermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.godsdo.entity.RolePermission">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="com_id" property="comId" />
        <result column="permission_id" property="permissionId" />
        <result column="type" property="type" />
        <result column="update_at" property="updateAt" />
        <result column="update_by" property="updateBy" />
        <result column="create_at" property="createAt" />
        <result column="create_by" property="createBy" />
        <result column="delete_flg" property="deleteFlg" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, role_id,com_id, permission_id,type, update_at, update_by, create_at, create_by, delete_flg
    </sql>

    <select id="getAllPermissions" resultType="string">
        SELECT resource_code FROM sys_permission_dat
        <where>
            <if test="ids != null and ids.size>0">
                AND id NOT IN
                ( <foreach collection="ids" item="item" separator=",">
                #{item}
            </foreach>)
            </if>
        </where>
    </select>

</mapper>
